@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Proyecto Final Programacion IX</h2>
    <img src="~/images/cels.png" class="center-block" width="400" height="200" />
    <p> </p>

    <div class="row">
        <div class="col-md-4">
            <p><a href="/TelefonoMVC/Index" class="btn btn-primary btn-lg">Reporte General &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <p><a href="/TelefonoMVC/Create" class="btn btn-primary btn-lg">Crear Nuevo Telefono &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <p><a href="~/TelefonoMVC/Detalles" class="btn btn-primary btn-lg">Editar/Eliminar Telefono &raquo;</a></p>
        </div>
    </div>

